<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.urlumberjack.user.mapper.UserMapper">

    <select id="selectUser" parameterType="String" resultType="com.flab.urlumberjack.user.domain.User">
        SELECT tid
             , email
             , type
             , status
             , type
             , role
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.flab.urlumberjack.user.dto.request.JoinRequest">
        INSERT INTO user( email
                        , pw
                        , mdn
                        , status
                        , type
                        , join_dt
                        , update_dt)
        VALUES (, #{email}
               ,  #{pw}
               ,  #{mdn}
               ,  'ACTIVE'
               ,  #{type}
               ,  NOW()
               ,  NOW())
    </insert>

</mapper>